.main {
    border: 1px solid black;
}

.heading {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    align-items: flex-start;
    /* padding: 160px 40px; */
    padding: 150px 15px 20px 15px;
    color: white;
    font-size: 60px;
    font-weight: bolder;
    font-family: sans-serif
}

.entry {
    content: "\f104";
    margin: 0px 12px;
    color: white;

    font-size: 20px;
}

.abc {
    margin-top: 10px;
    background: hsla(0, 0%, 100%, 0.8);
    backdrop-filter: blur(30px);
}