@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Inter:wght@200;300;400;500;600;700;800;900&family=Nunito+Sans:wght@200&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
