@tailwind base;
@tailwind components;
@tailwind utilities;


.image {
    background-image: url('/home/technogetic/Documents/GitHub/technogetic-web/src/CompanyImages/Contactus.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
}

.map {
    background-image: url('/home/technogetic/Documents/GitHub/technogetic-web/src/CompanyImages/map.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}